@import "tailwindcss";

:root {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light;
  background-color: #f8fafc;
  color: #1e293b;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  cursor: pointer;
}